<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921849147786-ke40nq9vh59s6761fi9n5gp9geua225n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921849147786-ke40nq9vh59s6761fi9n5gp9geua225n</string>
	<key>API_KEY</key>
	<string>AIzaSyDqigBTu81m8ouB6Ene66KaRGNRm_7CdE8</string>
	<key>GCM_SENDER_ID</key>
	<string>921849147786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SamanthaGatt.Whatchamacallit</string>
	<key>PROJECT_ID</key>
	<string>whatchamacallit-samanthagatt</string>
	<key>STORAGE_BUCKET</key>
	<string>whatchamacallit-samanthagatt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921849147786:ios:665b8f908a529e71</string>
	<key>DATABASE_URL</key>
	<string>https://whatchamacallit-samanthagatt.firebaseio.com</string>
</dict>
</plist>